body{
    background-color: rgb(231, 255, 253);
    margin: 10px;
}

.tavola{
    width: 150px;
    color: fuchsia;
    text-align: center;
}

#puffo{
    color: rgb(41, 122, 7);
}

h2{
    color: blue;
    text-align: center;
}

#carouselExampleSlidesOnly{
    width: 300px;
    height: 165px;
    float:right;
}